@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Jouzu", "sans-serif";
    font-weight: 700;
    font-display: swap;
    src: url("./assets/jouzu.otf") format("otf");
}


:root {
  font-family: 'Jouzu', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: #faebcb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}